body {

    font-family: sans-serif;

    margin: 0;

}

header {

    position: fixed;

    top: 0;

    right: 0;

    left: 16rem;

    background-color: #008B8B;
    
    z-index: 5000;

}

a {

    text-decoration: none;

}

h2 {

    margin-bottom: 0px;

    margin-top: 30px;

}

p {

    border-left: 0px;

}

figcaption {

    text-align: center;

    font-size: 3.5rem;

    font-family: Consolas;

    color: #444;

}

nav {

    float: left;

    margin-left: 7rem;

    margin-top: 1.5rem;

    margin-bottom: 1rem;

    margin-right: 1rem;

}

aside section p {

    text-align: center;

    font-size: 12px;

}

input {

    float: right;

    margin-right: 7rem;

    margin-top: 1rem;

    margin-left: 1rem;

    margin-bottom: 1rem;

    background-color: #444;

    border-radius: 30px;

    padding: 5px;

    border: 2px solid white;

}

div {

    border-bottom: 0.5px dotted black;

}

div figure {

    float: left;

    margin-right: 0px;

}

main {

    margin-left: 16rem;

    background-color: #eee;

    margin-top: 3rem;

    border: 1px solid #ccc;

}

main#segundo {
    
    padding-bottom: 20rem;
   
}

.tituluzinho {
    
    position: relative;
    
    top: -1rem;
    
    left: -1rem;
    
    padding: 1rem;
    
    color: white;
    
    background-color: #008B8B;
    
    width: 90%;
    
}

.cuq {
    
    width: 50px;
    
    height: 50px;
    
    background-color: #524942;
    
    border: #eee solid 20px;
    
    margin-left: 52rem;
    
    margin-top: -3rem;
    
    position: absolute;
        
}

.textos {
    
     margin: 1.5rem 3rem;
    
   color: #444;
    
    font-size: 16px;
    
    text-indent: 50px;
}


.border {
    
    color: #444;
    
    border-left: 5px solid #008B8B;
    
    text-align: right;
    
    margin-left: 10rem;
    
    margin-right: 4.5rem;
    
    font-style: italic;
    
    font-size: 0.7rem;
    
    line-height: 1rem;
    
    font-family: Lucida Console;
    
}


.articlesecondpage {

}


aside {

    width: 16rem;

    position: fixed;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    height: 100%;

    background-color: #CCC;

}

.articlefirstpage {

    float: right;

    margin-right: 3rem;

    text-align: left;

    width: 70%;
    
    color: #444;

}

nav a {

    background-color: #ccc;

    text-decoration: none;

    color: #444;

    border-radius: 15px;

    border-bottom: 3px solid white;

    padding: 6px;

    margin-right: 0.5rem;

}

nav a:hover {

    background-color: #ccc;

    text-decoration: none;

    color: #444;

    border-radius: 15px;

    border-bottom: 3px solid #444;

    padding: 6px;

    margin-right: 0.5rem;

}

main section {

    background-color: white;

    width: 80%;

    margin: auto;

    position: relative;
    
     top: 1rem;

}

.section2 {
    
    top: 4rem;
    
    background-color: white;
    
    position: relative;
    
}

/* Classes */

.article2 {
    
    padding-top: 5rem;
    
}


.centered {
    
    position: absolute;
    
    top: -5rem;
    
    margin-top: 1px;
    
    margin-left: 20rem;
    
    border-radius: 35px;
    
    border: 10px solid white;
    
    width: 115px;
    
    height: 115px;
    
}


.bio {

    position: absolute;

    bottom: 6rem;

    left: 1rem;

    right: 1rem;

    color: #444;

}

.avatar {

    border-radius: 100%;

    border: 4px solid #7F7FB1;

    max-height: 100%;

    max-width: 100%;

}

.divimg {

    margin-top: 20px;

}

.limpa {

    clear: both;

}

.date {

    margin-top: 10px;

    margin-bottom: 20px;

    font-size: 12px;

    font-style: italic;

    font-weight: bold;

}

.text {

    line-height: 30px;

    font-size: 14px;

}

.continue {

    text-decoration: underline;

    margin-bottom: 70px;

}

.firstdiv {

    margin-top: 4rem;

}

/* Links */

a:link {

    color: #008B8B;

    text-decoration: none;

}

a:visited {

    color: #444;

    text-decoration: none;

}

a:hover {

    color: #008B8B;

    text-decoration: underline;

}

/* Video */

iframe { 
    
  display: block;
    
  width: 500px;
    
  height: 281px;
    
  margin: auto;
    
  padding-bottom: 2rem;
    
  margin-bottom: 3rem;
    
}
