body {

    font-family: 'PT Sans Narrow', sans-serif;

    font-size: 20px;

    color: white;

    background-color: black;
}

h1 {

    font-size: 46px;

    color: #c03328;
    
    text-align: center;
    
    text-transform: uppercase;

}

footer {
    
    background-color: #4a4a4a;
    
    text-align: center;
    
    font-size: 12px;
    
}

article {

    background-color: white;

    color: black;

}

header {

    background-color: black
}

nav {

    background-color: #c03328;

    text-align: center;

    line-height: 95px;

    font-size: 25px;
}

/* Classes */

.captions {

    font-size: 14px;
}

.section {

    text-align: right
}

.image {

    text-align: center
}

.elite {
    
    font-size: 180px;
    
    line-height: 250px;
    
    text-transform: uppercase;
    
    background-color: black;
    
    color: white
    
}

.Annie {
    
    font-size: 25px;
    
    font-weight: bold;
    
}
