body {

    font-family: 'Montserrat', sans-serif;

    font-size: 18px;

}

a {

    text-decoration: none;
}

h1 {

    letter-spacing: 10px;

    color: #8a2be2;

    text-align: center;

}

section {

    text-align: center;
}

figure {

    text-align: center;
}

div {

    background-color: white;

    text-align: center;

}

h2 {

    text-indent: 35px;
}

footer {

    text-align: center;

    color: #8a2be2;

    font-size: 12px;

}


/* Classes */

.cartoon {

    background-color: #F5DEB3;
}

.tabletitle {

    text-align: center;
}


.image {


    width: auto;

    height: 250px;

}

.caption {

    font-size: 12px;

    line-height: 35px;

}

.top {

    text-align: right;
}

.footer2 {

    font-size: 18px;

}

/* Links */


a:link {

    color: #007bff
}

a:visited {

    color: #007bff
}

a:hover {

    color: #0056b3;

    text-decoration: underline;
}

a:active {

    color: #0056b3;
}

/* Table */

caption {

    font-size: 12px;

    line-height: 35px;
}

.tg {

    border-collapse: collapse;

    border-spacing: 0;
}

.tg td {

    font-size: 18px;

    padding: 0px 0px;

    border-style: solid;

    border-width: 1px;

    overflow: hidden;

    word-break: normal;

    border-color: white;

}

.tg th {

    font-size: 18px;

    font-weight: normal;

    padding: 0px 0px;

    border-style: solid;

    border-width: 1px;

    overflow: hidden;

    word-break: normal;

    border-color: white;

}

.tg .tg-8jgo {

    border-color: #ffffff;

    text-align: center;

    vertical-align: top;

}

.tg .tg-n82p {

    font-weight: bold;

    background-color: #540e95;

    color: #f5deb3;

    border-color: #ffffff;

    text-align: center;

    vertical-align: top;

}

.tg .tg-yc05 {

    background-color: #dddddd;

    border-color: #ffffff;

    text-align: center;

    vertical-align: top;

}

@media screen and (max-width: 767px) {

    .tg {

        width: auto !important;

    }

    .tg col {

        width: auto !important;

    }

    .tg-wrap {

        overflow-x: auto;

        -webkit-overflow-scrolling: touch;

    }

}
